@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}
body{
  background: url("https://w.wallhaven.cc/full/4o/wallhaven-4oe1ol.jpg") center/cover no-repeat fixed;
  color: white;   
  height: 100%;
  height: 2000px;
}
.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
/* HEADER  */

.header__items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: .5s;

    animation-name: anim1;
    animation-duration: 2s;
    animation-delay: 0s;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

   
}
@keyframes anim1{
    0%{
        position: relative;
        left:0;
        top: -200px;
    }
    100%{
        position: relative;
        left: 0;
        top: 0;

    }
}


.header__logo {
    font-size: 3.5rem;
    text-decoration: none;
    
    transition: .5s;
    color: white;
    padding-left: 20px;
    
    
    
}
.header__logo:hover{
    text-shadow: 1px 1px 5px yellow;
    transition: .5s;
    color: yellow;
}
.header__lists a{
    font-size: 1.7rem;
    text-decoration: none;
    padding: 0px 20px;
    transition: .5s;
    display: inline-block;
    color: white;
}
.header__lists a:hover{
    transform: scale(1.2) rotate(-10deg);
    transition: .5s;
    color: yellow;
    cursor: pointer;
    text-shadow: 1px 1px 3px yellow;
}
.header__lists a:active{
    color: yellow;
    transition: .5s;
}
@media (max-width: 477px) {
    .header__lists{
        font-size: 1rem;
    }
}
@media screen and (max-width: 721px) {
    .header__items{
        
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
@media screen and (max-width: 721px){
    .header__lists{
        margin-top: 20px;
    }
}
@media screen and (max-width: 721px){
    .header__lists a:last-child{
        margin-top: 10px;
    }
}
.all__container{
    max-width: 1000px;
    margin: 0 auto;
    position: relative;

}

/* MAIN */


main{
    margin-top: 100px;
    flex: 1 1 auto;
}
.main__items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 0 15px;
    transition: .5s;

    
}

.main__columns__items{
  padding: 30px;
  margin-top: 150px;
  width: 300px;
  text-align: center;
  border: 2px solid white;
  border-radius: 7px;
  transition: .5s;
  

}

.one{
  animation-name: one1;
  animation-duration: 2s;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 0s;
}
.two{
  animation-name: two2;
  animation-duration: 2s;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 0s;
}
.three{
  animation-name: three3;
  animation-duration: 2s;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 0s;
}
@keyframes three3{
  0%{
    position: relative;
    top: 0;
    right: -200px;
  }
  100%{
    position: relative;
    top: 0;
    right: 0;
  }
}
@keyframes two2{
  0%{
    position: relative;
    left: 0;
    top: -1000px;

  }
  100%{
    position: relative;
    left: 0;
    top: 0;
  }

  
}
@keyframes one1 {
    0%{
      position: relative;
      top: 0;
      left: -200px;
    }
    100%{
      position: relative;
      left: 0;
      top: 0;
    }
}
.main__columns__items:hover{
  transition: .5s;
  box-shadow: 1px 1px 15px white;
}
.main__columns__title{
  font-size: 2rem;
  font-weight: 700;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-bottom: 5px;
}
.main__columns__suptitle{
  font-size: 1.4rem;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-bottom: 10px;
}
.main__columns__text{
  font-size: 1.2rem;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-bottom: 20px;
}
.main__columns__button  a{
  color: white;
  font-size: 1.7rem;
  transition: .5s;
  border: 1px solid white;
  border-radius: 7px;
  padding: 10px;
  display: inline-block;
  
}
.main__columns__button a:hover{
  transform: scale(1.1);
  box-shadow: 1px 1px 5px white;
  
  transition: .5s;
}
.main__columns__body{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
}

.main__title{
    font-weight: 700;
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    animation-name: anim2;
    animation-duration: 2s;
    animation-delay: 0s;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes anim2{
    0%{
       position: relative;
       top: 0;
       left: -1300px;
        
    }
    100%{
       position: relative;
       top: 0;
       left: 0px;
    }
}

.main__subtitle{
    font-size: 1.8rem;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    margin-top: 5px;

    animation-name: anim3;
    animation-duration: 2s;
    animation-delay: 0s;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

}
@media screen and (max-width: 426px){
  .main__columns__items{
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    flex-direction: column;
  }
}


@keyframes anim3{
    0%{
       position: relative;
       top: 0;
       right: 1000px;
      
       
        
    }
    100%{
       position: relative;
       top: 0;
       right: 0px;
    }
}
.main__text{
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    line-height: 30px;

    animation-name: anim4;
    animation-duration: 2s;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes anim4{
    0%{
       position: relative;
       bottom: -1500px;
       right: 0px;
       
       
        
    }
    100%{
       position: relative;
       bottom: 0;
       right: 0px;
    }
}

.arrow{
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: #f0f0f0; /* Change the background color as needed */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  left: 10px;
  transition: .5s;
  z-index: 10;



  animation-name: arrow1;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.68,-0.55,0.265,1.55);
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@media screen and (max-width: 500px) {
  .arrow{
    width: 35px;
    height: 35px;
    
    
  }
}
@media screen and  (max-width: 1024px){
 
}
.arrow::after{
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid black;

  
}
.arrow:hover{
  transform: scale(1.1);
  transition: .5s;
  box-shadow: 1px 1px 5px white;


}
@keyframes arrow1{
  0%{
    position: fixed;
    bottom: -5px;
    left: -300px;
    
    
  }
  70%{
    transform: rotate(300deg) scale(0.5);
  }
  100%{
    position: fixed;
    bottom: 10px;
    right: 10px;
    transform: scale(1.1);
  }
}

/* FOOTER */
.footer{

}
.footer__items{
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  
}
@media (max-width: 617px){
  .footer__items{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 20px;

  }
}

.Contact, .Mysocial {
  margin-bottom: 20px;
  line-height: 30px;
}

.Contact p:first-child{
  font-size: 1.7rem;
  font-weight: 700;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 .Mysocial p:first-child{
  font-size: 1.7rem;
  font-weight: 700;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
